{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %} {#ici on crée une methode si le user est connecté et on lui renverra en fonction#}
        <div class="mb-3">
            Bienvenue {{ app.user.firstName }}, <a href="{{ path('logout') }}">Déconnexion</a> {#ici on va chercher le nom du user pour lui dire bienvenue {{ app.user.firstName }} et on permet aussi de se deconnecter grace à la route {{ path('logout') }} #}
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">connectez-vous</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        connexion
    </button>
    <a href="{{ path('register') }}">S'inscrire</a> {#ici encore une direction de route vers le formulaire d'inscripion#}
    </br>
    <a href="{{ path('index') }}">Accueil {#ici une direction de route vers l'accueil #}

    
</form>
{% endblock %}
