{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" />
    
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main id="Inscription" class="container">

        {#CONTRAINTES DE CONNEXION#}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <div class="menu-connexion text-right mt-5 ">           
            {% if app.user %} {#ici on crée une methode si le user est connecté et on lui renverra en fonction#}
                <div class="mb-3 mr-0 btn">
                    <span>   Bienvenue {{ app.user.firstName }}, </span>
                </div>
                <div class="mb-3 mr-0 btn btn-light">
                    <a class="text-secondary" href="{{ path('logout') }}">Déconnexion</a> {#ici on va chercher le nom du user pour lui dire bienvenue {{ app.user.firstName }} et on permet aussi de se deconnecter grace à la route {{ path('logout') }} #}
                </div>        
            {% endif %}
        </div>

        <div class="px-4 py-4 rounded fond-ln">
            {#LOGO ET TITRE#}
            <div class="logo-blanc"></div>
            <div class="baseline-logo-blanc text-center mb-5">
                <p class="font-weight-bold h5 objets-login">Le site des animaux perdus</p>
            </div>


            
            <form class="form-ln" method="post">
                <div>
                    
                    {#<h2 class="display-1 text-primary ">Fiche Alerte</h2>#}
                    <h1 class="h3 mb-3 text-center text-primary">Connectez-vous</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="text-center mb-2 form-control" placeholder="Email" required autofocus>
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="text-center mb-4 form-control" placeholder="Mot de passe" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="text-center">
                    <button class="btn btn-lg mb-3 btn-connexion-ln" type="submit">
                    Connexion
                    </button></div>
                </div>

            </form> 
             
                <div class="text-center mt-3">

                    <div class="btn btn-lg btn-register-ln">
                        <a class="text-login-ln" href="{{ path('register') }}">S'inscrire</a>
                    </div> 
                            
                    <div class="btn btn-lg btn-acceuil-ln">
                        <a class="text-acceuil" href="{{ path('index') }}">Accueil</a>
                    </div>

                </div>           
        </div>
    </main>
    
                 
{% endblock %}