{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" />
    
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form(registerForm) }}
    {# Lien de connexion #}
    <a href="{{ path('login') }}">Se connecter</a>
    <br>
    <a href="{{ path('index') }}">Accueil</a>
{% endblock %}