{% extends 'base.html.twig' %}

{% block stylesheets %}  {#ligne ajoutee#}
    {{ parent() }}

    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" />
    
{% endblock %}

{% block title %}Fiche Alerte{% endblock %}

{% block body %}
<main class="container">


{% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.firstName }}, <a href="{{ path('logout') }}">Déconnexion</a>
        </div>
{% else %}
        <div class="mb-3">
            Bienvenue, vous pouvez vous connecter<a href="{{ path('login') }}">Connexion</a>
        </div>
        <div class="mb-3">
            Bienvenue, vous pouvez vous inscrire<a href="{{ path('register') }}">S'identifier</a>
        </div>
{% endif %}

<nav class="navbar navbar-light bg-light">
    <p>ACCUEIL</p>
    <p>Comment ça marche?</p>
    <p>Profil</p>

</nav>

    <h2>Fiche Alerte</h2>
    <!--ici je mettrais l'affichage de coordonnée de l'utilisateur fait par helene via le formulaire d'inscription-->

<h2>Informations Propriétaire/ Utilisateur</h2>
<div class="jumbotron">

<h2>Informations Animal</h2>

{{ form_start(form) }}

{{form_row(form.picture)}}

<input type="hidden" id="longitude" name="longitude" value="lng">
<input type="hidden" id="latitude" name="latitude" value="lat">

{# selectionner les input puis remplir la 'value' par la valeur souhaiter (en front) 
tout sera receptionner coté back
ici input caché car luser na pas besoin de voir quil a rempli la long et lat mais la valeur est bien prise 

#}
{{ form_end(form)}}

</div>

</main>

{% endblock %}