{% extends 'base.html.twig' %}

{% block stylesheets %} {#ligne ajoutee#}
    {{ parent() }}

    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" />
    
{% endblock %}



{% block title %}Fiche Alerte{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.firstName }}, <a href="{{ path('logout') }}">Déconnexion</a>
        </div>
    {% endif %}

<main class="container">

    <h2>Veuillez modifier votre fiche Alerte</h2>
    <!--ici je mettrais l'affichage de coordonnée de l'utilisateur fait par helene via le formulaire d'inscription-->
    {{ form_start(form) }}

    
    {{ form_end(form)}}
    
  
<h2>Informations Propriétaire/ Utilisateur</h2>
<!--ici il faut integrer les infos users-->
<h2>Informations Animal</h2>
{{ form_start(form) }}
{{form_row(form.picture)}}
{{ form_end(form)}}


</main>

{% endblock %}